body {
    margin: 0;
    padding: 15px;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    max-width: 480px;
    max-height: 480px;
    flex-wrap: wrap;
}

.square {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    /* transition: .6s ease-in-out; */
}

/* .square:hover {
    background-color: #b1b1b1;
    transition: .2s ease-in-out;
} */